{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<section class="container">
    <div class="row">
        <div class="col-12 pt-5 mt-5 ">
            <h3>Delete Blog.....</h3>
            <hr>
            <div class="form-group mt-5">
                <form method="POST">
                    {% csrf_token %}
                    <h1><strong>Are you Sure ??</strong></h1>
                    <br>
                    <br>
                    <button class="btn px-5 btn-danger">Delete Post</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% else %}
    <div class="container my-5 pt-5 text-center">
        <h2 class="text-danger">You are not allowed here <b> 404 Error </b></h2>
    </div>
{% endif %}


{% endblock %}
