{% extends 'base.html' %}
{% load static %}
{% block content %}




<section>
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-md-8">
                <article class="post">
                    <div>
                        <h3><a href="#">{{post.title}}</a></h3>
                        <hr>
                        <div class="post-details mb-3">
                            <i class="fa fa-user"></i> <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong>
                            <i class="fa fa-clock"></i> <time>{{ post.posted_date.date }} </time>
                            <i class="fa fa-tags"></i> Tagged
                            <a class="badge bg-secondary text-decoration-none link-light tag" href="">{{post.category}}</a>
                        </div>
                        <div class="blog-img">
                            <img class="img-fluid rounded" src='{{ post.thumbnail.url }}' alt="..." />
                        </div>
                        <div class="post-body">
                            {{ post.body|safe }}
                        </div>
                       <div class="d-flex">
                        <div> <a class="mt-3 btn btn-info" href="{% url 'blog' %}"> Back</a></div>
                        {% if user.is_authenticated %}
                            <div class="ml-auto"> <a class="mt-3 btn btn-secondary" href="{% url 'edit-post' post.pk %}"> Edit</a></div>
                            <div class="ml-2"> <a class="mt-3 btn btn-danger" href="{% url 'delete-post' post.pk %}"> Delete Post</a></div>
                        {% endif %}
                        </div>
                    </div>
                </article>
                
            </div>
            
            <aside class="col-md-4">
                <div class="widget">
                    <h4>Add Post...</h4>
                    <p>Lets unleach the Power of Knowledge..</p>
                    <a class="btn btn-success btn-lg btn-block"  href="{% url 'add-post' %}">
                       Add New Post
                    </a>
                </div>
                
                <div class="widget pt-5">
                    <h4>Join our Mailing List</h4>
                    <p>Keep up-to-date with the latest news, and we'll <strong>send you something special as a thank you!</strong></p>
                    <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                        Click here to subscribe
                    </button>
                </div>
            </aside>
            
        </div>
    </div>
</section>




{% endblock %}
