{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container">
    <!-- <div class="widget pt-5"> -->
        <div class="row justify-content-center">
            <div class="col-4 widget mt-5 pt-4 ">
                <h3>Login.....</h3>
                <hr>
                <div class="form-group mt-5">
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn px-5 btn-primary">Login</button>
                        <a class="btn px-5 btn-primary" href="{% url 'register' %}">Register</a>
                    </form>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>
{% endblock %}