 {% load static %}

<footer id="footer">
  <section id="contact" class="contact bg-dark text-white pt-5 pb-4 ">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
      </div>

      <div class="row">

        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-about">
            <h1><b>PN</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quasi libero officia commodi
              explicabo, labore rerum voluptatum nisi aliquam consectetur!</p>

            <!-- <div class="social-nav">
              <ul class="nav justify-content-left ">
                <li class="nav-item">
                  <a class="nav-link text-white fs-1" href="https://twitter.com/templateflip" title="Twitter"><i
                      class="fab fa-twitter"></i><span class="menu-title sr-only">Twitter</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fs-1" href="https://www.facebook.com/templateflip" title="Facebook"><i
                      class="fab fa-facebook"></i><span class="menu-title sr-only">Facebook</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fs-1" href="https://www.instagram.com/templateflip" title="Instagram"><i
                      class="fab fa-instagram"></i><span class="menu-title sr-only">Instagram</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fs-1" href="https://www.linkedin.com/" title="LinkedIn"><i
                      class="fab fa-linkedin"></i><span class="menu-title sr-only">LinkedIn</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white fs-1" href="https://www.github.com/" title="GitHub"><i
                      class="fab fa-github"></i><span class="menu-title sr-only">Behance</span></a>
                </li>
              </ul>
            </div> -->
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="info">
            <div>
              <i class="ri-map-pin-line"></i>
              <p>Pn Blogs
                  <br> Kandavanthara, Kochi,
                <br>Kerala</p>
            </div>

            <div>
              <i class="ri-mail-send-line"></i>
              <p>admin@pnblogs.com</p>
            </div>

            <div>
              <i class="ri-phone-line"></i>
              <p>+91 00000 00000</p>
            </div>

          </div>
        </div>
      </div>

    </div>
     <div class="container-fluid pt-4">
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy;Designed and Developed by Praveen Nair</p>
            </div>
        </div>
    </div>
  </section>
</footer>